
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.App {
  text-align: center; 
} 


.App-logo { 
  animation: App-logo-spin infinite 20s linear;
  height: 120px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.App-header {
  background-color: #222;
  height: 10vh;
  padding: 20px;
  color: white;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.unavailable{
  background: red;
}


body{
  margin: 0 !important;
  padding: 0 !important;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}




#canvas {
  position: absolute;
  left: 0;
  top: 0;;
  width: 99vw !important;
  height: 100vh !important;
}



.canvas_wrapper{
  width: 96vw;
  height: 100vh;
  float: left;
  margin: 0 !important;
  padding: 0 !important;
  background-color:#efefef;
}

.sidebar{
  position: absolute;
  right: 0;
  top: 0;
  width: 170px;
  height: 100vh;
  background: white;
  margin: 0;
  padding: 0;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.sidebar ul{
    width: 170px !important;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

.sidebar li{
  width: 50px;
  height: 50px;
  float: left;
  margin: 2px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.sidebar li:hover {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  cursor: pointer;
}

.sidebar a{
    display: block;
    font-size: 1.0em;
}




.triangle {
  margin-top: 3px;
  max-width: 80%;
}
.square{
  margin-top: 5px;
  max-width: 80%;
}
.circle {
  margin-top: 3px;
  max-width: 80%;
}
.pentagon {
  margin-top: 3px;
  max-width: 80%;
}
.text{
  margin-top: 3px;
  max-width: 80%;
}
.star{
  margin-top: 3px;
  max-width: 80%;
}
.line {
  margin-top: 3px;
  max-width: 80%;
}
.elipse {
  margin-top: 3px;
  max-width: 80%;
}

.colorPicker {
  text-align: left;
  p {
    margin:0;
    padding:0;
    float: left;
    margin-left: 30px;
  }
}
.action-buttons-wrapper {
  position: absolute;
  width: 170px;
  bottom: 100px;
  right:0;

}
.fw-button {
  width: 100%;
  padding:10px;
  border-radius: 0;
  background-color: #fff;
  color: black;
  font-weight: bold;
  letter-spacing: 2px;
  border: none;
  margin:3px 0;
  border-top: 1px solid white;
  text-transform: uppercase;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  &:hover {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    transform: translateY(-5px); /* Equal to translate(10px) */
    cursor: pointer;
  }
}
.clear {
  clear:both;
}
.swatch {
  float: left;
  margin-left:10px;
  margin-top: -3px;

}

.customizeForm {
  position: fixed;
  z-index: 100;
  top: 50px;
  right: 50%;
  background: white;
  margin: 0;
  padding: 0;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}



.layer-item {
  min-width: 100% !important;
  max-height: 20px !important;
  padding: 5px;
  input {
    float: left;
  }
  label {
    float: left;
    margin-left: 12px;
  }
  &.true {
    background:  #B2FFB2;
  }
  a {
    text-decoration: none;
    color: black;
  }
  &:hover {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    transform: translateY(-2px); /* Equal to translate(10px) */
    cursor: pointer;
  }

}

.mouse {
  position: absolute;
  bottom: 10px;
  right: 43px;
}
